src/main/mule/logic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="tweetsFlow" doc:id="094326c0-d6e0-4464-8287-4edd20420a7b" >
		<ee:transform doc:name="Create Time Stamp" doc:id="05ccc530-2cca-4d92-b7e7-d6d728606c3f" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/createTimeStamp.dwl" variableName="maxSearchTime" />
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="63cb98c1-0f7f-441d-9eb9-8d34febdf297" config-ref="HTTPS_Request_configuration" path='search/tweets.json'>
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ p('token')
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"q" : vars.keyword,
	"count": p('maxTweetCount')
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Build Tweets Payload" doc:id="d5ed1351-54e0-4bac-8045-66f3d3698fee" >
			<ee:message >
				<ee:set-payload resource="dwl/tweetsPayload.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="HashtagsFlow" doc:id="dda5b238-ae7e-43d6-885c-11023f4f534c" >
		<http:request method="GET" doc:name="Request" doc:id="69cd132d-6345-41f0-9ee4-e0972cd787e2" config-ref="HTTPS_Request_configuration" path='search/tweets.json'>
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ p('token')
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"q" : vars.keyword,
	"count": p('maxTweetCount'),
	"result_type": 'popular'
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Extract HashTags" doc:id="12c59fb1-774d-40f8-beb1-fd8f938e7de5" >
			<ee:message >
				<ee:set-payload resource="dwl/extractHashTags.dwl" />
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Clean Extracted HashTags" doc:id="5e3fce90-682a-411f-957c-46ce7e18f620" >
			<ee:message >
				<ee:set-payload resource="dwl/cleanExtractedHashTags.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
</mule>
